@media screen and (max-width: 1200px) {
  #navbar {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #home {
    display: flex;
    flex-direction: column;
    /* padding-top:8%; */
    align-items: center;
    justify-content: center;
  }
  #profile_pic {
    width: 150px;
    height: 150px;
    /* justify-self: center; */
    /* margin-left: 90px; */
    /* margin-top: 90px; */
  }
  .section_pic {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section_text {
    position: relative;
    top: -10%;
  }
  .btn {
    width: 140px;
  }
  .aboutme-detials {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
  }
  #aboutus {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
  .section_pic1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 15%;
  }
  /* .section_pic1 {
        flex: 1;
        margin-top: 15%;
    } */
  .detials {
    width: 100vw;
    height: 100vh;
    flex: 1;
    margin-top: 10%;
  }
  .header-about {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    right: 80%;
  }
  .about-head {
    font-size: 36px;
    text-align: center;
  }
  .edu-details {
    position: relative;
    top: 20%;
    right: 100%;
    display: flex;
    flex-direction: column;
  }
  .education {
    width: 40vw;
    height: 15vh;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    /* justify-content: center; */
    line-height: 35px;
    /* float: left; */
    margin-left: 31px;
    margin-top: 20%;
  }
  .summary {
    display: block;
    font-size: 15px;
  }
  .text-container {
    width: 100%;
    height: 100vh;
    margin-top: 67%;
    display: flex;
    position: relative;
    right: 80%;
    top: -20%;
  }
  .aboutme {
    text-align: center;
    color: gray;
  }
  #Sevices {
    padding-top: 10%;
  }
}
