@media screen and (max-width: 1200px)
{
    #navbar
    {
        display: none;
    }
    #hamburger-nav
    {
        display: flex;
    }
    #home
    {
        display:flex;
        flex-direction:column;
        /* padding-top:8%; */
        align-items:center
    }
    #profile_pic
    {
        width:200px;
        height:200px;
        justify-self: center;
        margin-left: 90px;
        margin-top: 90px;
    }
    .section_text
    {
        
    }
    .btn
    {
        width: 140px;
    }
}